---
Checks:          '*,-fuchsia-*, -modernize-use-trailing-return-type, -readability-avoid-const-params-in-decls, -llvm-include-order'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none